/* Esconde tudo por padrão ao imprimir */
body > *:not(.show-for-print) {
    display: none !important;
}

/* Mostra APENAS o card que queremos imprimir */
body > .show-for-print, .show-for-print {
    display: block !important;
    position: fixed; /* ou absolute */
    top: 20px;
    left: 20px;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

/* Esconde o próprio botão de imprimir na versão impressa */
.show-for-print .print-card-btn {
    display: none !important;
}